.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.container {
  display: inline-block;
  max-width: 1080px;
  min-width: 320px;
  max-height: 720px;
  min-height: 500px;
  height: 30%;
  width: 30%;
  margin: 1rem auto;
  border: 1px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
