.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  margin: 0 10px;
}

.search-input {
  width: 25%;
  margin: 0.25rem auto;
}
.search-button {
  width: 25%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}

.search-button:hover,
.search-button:active {
  background: #ac0e77;
  border-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
